:root {
    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 48px;
    --spacing-xl: 96px;
}


.gap-xxs {
    gap: var(--spacing-xxs) !important;
}

.gap-xs {
    gap: var(--spacing-xs) !important;
}

.gap-sm {
    gap: var(--spacing-sm) !important;
}

.gap-md {
    gap: var(--spacing-md) !important;
}

.gap-lg {
    gap: var(--spacing-lg) !important;
}

.gap-xl {
    gap: var(--spacing-xl) !important;
}


/**
Margin
*/
.m-xxs {
    margin: var(--spacing-xxs);
}

.m-xs {
    margin: var(--spacing-xs);
}

.m-sm {
    margin: var(--spacing-sm);
}

.m-md {
    margin: var(--spacing-md);
}

.m-lg {
    margin: var(--spacing-lg);
}

.m-xl {
    margin: var(--spacing-xl);
}

/**
Margin X
*/
.mx-xxs {
    margin-right: var(--spacing-xxs);
    margin-left: var(--spacing-xxs);
}

.mx-xs {
    margin-right: var(--spacing-xs);
    margin-left: var(--spacing-xs);
}

.mx-sm {
    margin-right: var(--spacing-sm);
    margin-left: var(--spacing-sm);
}

.mx-md {
    margin-right: var(--spacing-md);
    margin-left: var(--spacing-md);
}

.mx-lg {
    margin-right: var(--spacing-lg);
    margin-left: var(--spacing-lg);
}

.mx-xl {
    margin-right: var(--spacing-xl);
    margin-left: var(--spacing-xl);
}

/**
Margin Y
*/
.my-xxs {
    margin-top: var(--spacing-xxs);
    margin-bottom: var(--spacing-xxs);
}

.my-xs {
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
}

.my-sm {
    margin-top: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
}

.my-md {
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-md);
}

.my-lg {
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-lg);
}

.my-xl {
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
}

/**
Margin top
 */
.mt-xxs {
    margin-top: var(--spacing-xxs);
}

.mt-xs {
    margin-top: var(--spacing-xs);
}

.mt-sm {
    margin-top: var(--spacing-sm);
}

.mt-md {
    margin-top: var(--spacing-md);
}

.mt-lg {
    margin-top: var(--spacing-lg);
}

.mt-xl {
    margin-top: var(--spacing-xl);
}

/**
Margin bottom
 */
.mb-xxs {
    margin-bottom: var(--spacing-xxs);
}

.mb-xs {
    margin-bottom: var(--spacing-xs);
}

.mb-sm {
    margin-bottom: var(--spacing-sm);
}

.mb-md {
    margin-bottom: var(--spacing-md);
}

.mb-lg {
    margin-bottom: var(--spacing-lg);
}

.mb-xl {
    margin-bottom: var(--spacing-xl);
}

/**
Margin right
*/
.mr-xxs {
    margin-right: var(--spacing-xxs);
}

.mr-xs {
    margin-right: var(--spacing-xs);
}

.mr-sm {
    margin-right: var(--spacing-sm);
}

.mr-md {
    margin-right: var(--spacing-md);
}

.mr-lg {
    margin-right: var(--spacing-lg);
}

.mr-xl {
    margin-right: var(--spacing-xl);
}

/**
Margin left
*/
.ml-xxs {
    margin-left: var(--spacing-xxs);
}

.ml-xs {
    margin-left: var(--spacing-xs);
}

.ml-sm {
    margin-left: var(--spacing-sm);
}

.ml-md {
    margin-left: var(--spacing-md);
}

.ml-lg {
    margin-left: var(--spacing-lg);
}

.ml-xl {
    margin-left: var(--spacing-xl);
}


/**
Padding
*/
.p-xxs {
    padding: var(--spacing-xxs);
}

.p-xs {
    padding: var(--spacing-xs);
}

.p-sm {
    padding: var(--spacing-sm);
}

.p-md {
    padding: var(--spacing-md);
}

.p-lg {
    padding: var(--spacing-lg);
}

.p-xl {
    padding: var(--spacing-xl);
}

/**
Padding X
*/
.px-xxs {
    padding-right: var(--spacing-xxs);
    padding-left: var(--spacing-xxs);
}

.px-xs {
    padding-right: var(--spacing-xs);
    padding-left: var(--spacing-xs);
}

.px-sm {
    padding-right: var(--spacing-sm);
    padding-left: var(--spacing-sm);
}

.px-md {
    padding-right: var(--spacing-md);
    padding-left: var(--spacing-md);
}

.px-lg {
    padding-right: var(--spacing-lg);
    padding-left: var(--spacing-lg);
}

.px-xl {
    padding-right: var(--spacing-xl);
    padding-left: var(--spacing-xl);
}


/**
Padding Y
*/
.py-xxs {
    padding-top: var(--spacing-xxs);
    padding-bottom: var(--spacing-xxs);
}

.py-xs {
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
}

.py-sm {
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
}

.py-md {
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);
}

.py-lg {
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
}

.py-xl {
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);
}


/**
Padding top
 */
.pt-xxs {
    padding-top: var(--spacing-xxs);
}

.pt-xs {
    padding-top: var(--spacing-xs);
}

.pt-sm {
    padding-top: var(--spacing-sm);
}

.pt-md {
    padding-top: var(--spacing-md);
}

.pt-lg {
    padding-top: var(--spacing-lg);
}

.pt-xl {
    padding-top: var(--spacing-xl);
}

/**
Padding bottom
 */
.pb-xxs {
    padding-bottom: var(--spacing-xxs);
}

.pb-xs {
    padding-bottom: var(--spacing-xs);
}

.pb-sm {
    padding-bottom: var(--spacing-sm);
}

.pb-md {
    padding-bottom: var(--spacing-md);
}

.pb-lg {
    padding-bottom: var(--spacing-lg);
}

.pb-xl {
    padding-bottom: var(--spacing-xl);
}

/**
Padding right
*/
.pr-xxs {
    padding-right: var(--spacing-xxs);
}

.pr-xs {
    padding-right: var(--spacing-xs);
}

.pr-md {
    padding-right: var(--spacing-md);
}

.pr-lg {
    padding-right: var(--spacing-lg);
}

.pr-xl {
    padding-right: var(--spacing-xl);
}

/**
Padding left
*/
.pl-xxs {
    padding-left: var(--spacing-xxs);
}

.pl-xs {
    padding-left: var(--spacing-xs);
}

.pl-md {
    padding-left: var(--spacing-md);
}

.pl-lg {
    padding-left: var(--spacing-lg);
}

.pl-xl {
    padding-left: var(--spacing-xl);
}


@media (min-width: 576px) {
    .gap-sm-xxs {
        gap: var(--spacing-xxs) !important;
    }

    .gap-sm-xs {
        gap: var(--spacing-xs) !important;
    }

    .gap-sm-sm {
        gap: var(--spacing-sm) !important;
    }

    .gap-sm-md {
        gap: var(--spacing-md) !important;
    }

    .gap-sm-lg {
        gap: var(--spacing-lg) !important;
    }

    .gap-sm-xl {
        gap: var(--spacing-xl) !important;
    }


    /**
    Margin
    */
    .m-sm-xxs {
        margin: var(--spacing-xxs);
    }

    .m-sm-xs {
        margin: var(--spacing-xs);
    }

    .m-sm-sm {
        margin: var(--spacing-sm);
    }

    .m-sm-md {
        margin: var(--spacing-md);
    }

    .m-sm-lg {
        margin: var(--spacing-lg);
    }

    .m-sm-xl {
        margin: var(--spacing-xl);
    }

    /**
    Margin top
     */
    .mt-sm-xxs {
        margin-top: var(--spacing-xxs);
    }

    .mt-sm-xs {
        margin-top: var(--spacing-xs);
    }

    .mt-sm-sm {
        margin-top: var(--spacing-sm);
    }

    .mt-sm-md {
        margin-top: var(--spacing-md);
    }

    .mt-sm-lg {
        margin-top: var(--spacing-lg);
    }

    .mt-sm-xl {
        margin-top: var(--spacing-xl);
    }

    /**
    Margin bottom
     */
    .mb-sm-xxs {
        margin-bottom: var(--spacing-xxs);
    }

    .mb-sm-xs {
        margin-bottom: var(--spacing-xs);
    }

    .mb-sm-sm {
        margin-bottom: var(--spacing-sm);
    }

    .mb-sm-md {
        margin-bottom: var(--spacing-md);
    }

    .mb-sm-lg {
        margin-bottom: var(--spacing-lg);
    }

    .mb-sm-xl {
        margin-bottom: var(--spacing-xl);
    }

    /**
    Margin right
    */
    .mr-sm-xxs {
        margin-right: var(--spacing-xxs);
    }

    .mr-sm-xs {
        margin-right: var(--spacing-xs);
    }

    .mr-sm-sm {
        margin-right: var(--spacing-sm);
    }

    .mr-sm-md {
        margin-right: var(--spacing-md);
    }

    .mr-sm-lg {
        margin-right: var(--spacing-lg);
    }

    .mr-sm-xl {
        margin-right: var(--spacing-xl);
    }

    /**
    Margin left
    */
    .ml-sm-xxs {
        margin-left: var(--spacing-xxs);
    }

    .ml-sm-xs {
        margin-left: var(--spacing-xs);
    }

    .ml-sm-sm {
        margin-left: var(--spacing-sm);
    }

    .ml-sm-md {
        margin-left: var(--spacing-md);
    }

    .ml-sm-lg {
        margin-left: var(--spacing-lg);
    }

    .ml-sm-xl {
        margin-left: var(--spacing-xl);
    }


    /**
    Padding
    */
    .p-sm-xxs {
        margin: var(--spacing-xxs);
    }

    .p-sm-xs {
        margin: var(--spacing-xs);
    }

    .p-sm-sm {
        margin: var(--spacing-sm);
    }

    .p-sm-md {
        margin: var(--spacing-md);
    }

    .p-sm-lg {
        margin: var(--spacing-lg);
    }

    .p-sm-xl {
        margin: var(--spacing-xl);
    }

    /**
    Padding top
     */
    .pt-sm-xxs {
        margin-top: var(--spacing-xxs);
    }

    .pt-sm-xs {
        margin-top: var(--spacing-xs);
    }

    .pt-sm-sm {
        margin-top: var(--spacing-sm);
    }

    .pt-sm-md {
        margin-top: var(--spacing-md);
    }

    .pt-sm-lg {
        margin-top: var(--spacing-lg);
    }

    .pt-sm-xl {
        margin-top: var(--spacing-xl);
    }

    /**
    Padding bottom
     */
    .pb-sm-xxs {
        margin-bottom: var(--spacing-xxs);
    }

    .pb-sm-xs {
        margin-bottom: var(--spacing-xs);
    }

    .pb-sm-sm {
        margin-bottom: var(--spacing-sm);
    }

    .pb-sm-md {
        margin-bottom: var(--spacing-md);
    }

    .pb-sm-lg {
        margin-bottom: var(--spacing-lg);
    }

    .pb-sm-xl {
        margin-bottom: var(--spacing-xl);
    }

    /**
    Padding right
    */
    .pr-sm-xxs {
        margin-right: var(--spacing-xxs);
    }

    .pr-sm-xs {
        margin-right: var(--spacing-xs);
    }

    .pr-sm-md {
        margin-right: var(--spacing-md);
    }

    .pr-sm-lg {
        margin-right: var(--spacing-lg);
    }

    .pr-sm-xl {
        margin-right: var(--spacing-xl);
    }

    /**
    Padding left
    */
    .pl-sm-xxs {
        margin-left: var(--spacing-xxs);
    }

    .pl-sm-xs {
        margin-left: var(--spacing-xs);
    }

    .pl-sm-md {
        margin-left: var(--spacing-md);
    }

    .pl-sm-lg {
        margin-left: var(--spacing-lg);
    }

    .pl-sm-xl {
        margin-left: var(--spacing-xl);
    }
}

@media (min-width: 768px) {
    .gap-md-xxs {
        gap: var(--spacing-xxs) !important;
    }

    .gap-md-xs {
        gap: var(--spacing-xs) !important;
    }

    .gap-md-sm {
        gap: var(--spacing-sm) !important;
    }

    .gap-md-md {
        gap: var(--spacing-md) !important;
    }

    .gap-md-lg {
        gap: var(--spacing-lg) !important;
    }

    .gap-md-xl {
        gap: var(--spacing-xl) !important;
    }


    /**
    Margin
    */
    .m-md-xxs {
        margin: var(--spacing-xxs);
    }

    .m-md-xs {
        margin: var(--spacing-xs);
    }

    .m-md-sm {
        margin: var(--spacing-sm);
    }

    .m-md-md {
        margin: var(--spacing-md);
    }

    .m-md-lg {
        margin: var(--spacing-lg);
    }

    .m-md-xl {
        margin: var(--spacing-xl);
    }

    /**
    Margin top
     */
    .mt-md-xxs {
        margin-top: var(--spacing-xxs);
    }

    .mt-md-xs {
        margin-top: var(--spacing-xs);
    }

    .mt-md-sm {
        margin-top: var(--spacing-sm);
    }

    .mt-md-md {
        margin-top: var(--spacing-md);
    }

    .mt-md-lg {
        margin-top: var(--spacing-lg);
    }

    .mt-md-xl {
        margin-top: var(--spacing-xl);
    }

    /**
    Margin bottom
     */
    .mb-md-xxs {
        margin-bottom: var(--spacing-xxs);
    }

    .mb-md-xs {
        margin-bottom: var(--spacing-xs);
    }

    .mb-md-sm {
        margin-bottom: var(--spacing-sm);
    }

    .mb-md-md {
        margin-bottom: var(--spacing-md);
    }

    .mb-md-lg {
        margin-bottom: var(--spacing-lg);
    }

    .mb-md-xl {
        margin-bottom: var(--spacing-xl);
    }

    /**
    Margin right
    */
    .mr-md-xxs {
        margin-right: var(--spacing-xxs);
    }

    .mr-md-xs {
        margin-right: var(--spacing-xs);
    }

    .mr-md-sm {
        margin-right: var(--spacing-sm);
    }

    .mr-md-md {
        margin-right: var(--spacing-md);
    }

    .mr-md-lg {
        margin-right: var(--spacing-lg);
    }

    .mr-md-xl {
        margin-right: var(--spacing-xl);
    }

    /**
    Margin left
    */
    .ml-md-xxs {
        margin-left: var(--spacing-xxs);
    }

    .ml-md-xs {
        margin-left: var(--spacing-xs);
    }

    .ml-md-sm {
        margin-left: var(--spacing-sm);
    }

    .ml-md-md {
        margin-left: var(--spacing-md);
    }

    .ml-md-lg {
        margin-left: var(--spacing-lg);
    }

    .ml-md-xl {
        margin-left: var(--spacing-xl);
    }


    /**
    Padding
    */
    .p-md-xxs {
        margin: var(--spacing-xxs);
    }

    .p-md-xs {
        margin: var(--spacing-xs);
    }

    .p-md-sm {
        margin: var(--spacing-sm);
    }

    .p-md-md {
        margin: var(--spacing-md);
    }

    .p-md-lg {
        margin: var(--spacing-lg);
    }

    .p-md-xl {
        margin: var(--spacing-xl);
    }

    /**
    Padding top
     */
    .pt-md-xxs {
        margin-top: var(--spacing-xxs);
    }

    .pt-md-xs {
        margin-top: var(--spacing-xs);
    }

    .pt-md-sm {
        margin-top: var(--spacing-sm);
    }

    .pt-md-md {
        margin-top: var(--spacing-md);
    }

    .pt-md-lg {
        margin-top: var(--spacing-lg);
    }

    .pt-md-xl {
        margin-top: var(--spacing-xl);
    }

    /**
    Padding bottom
     */
    .pb-md-xxs {
        margin-bottom: var(--spacing-xxs);
    }

    .pb-md-xs {
        margin-bottom: var(--spacing-xs);
    }

    .pb-md-sm {
        margin-bottom: var(--spacing-sm);
    }

    .pb-md-md {
        margin-bottom: var(--spacing-md);
    }

    .pb-md-lg {
        margin-bottom: var(--spacing-lg);
    }

    .pb-md-xl {
        margin-bottom: var(--spacing-xl);
    }

    /**
    Padding right
    */
    .pr-md-xxs {
        margin-right: var(--spacing-xxs);
    }

    .pr-md-xs {
        margin-right: var(--spacing-xs);
    }

    .pr-md-md {
        margin-right: var(--spacing-md);
    }

    .pr-md-lg {
        margin-right: var(--spacing-lg);
    }

    .pr-md-xl {
        margin-right: var(--spacing-xl);
    }

    /**
    Padding left
    */
    .pl-md-xxs {
        margin-left: var(--spacing-xxs);
    }

    .pl-md-xs {
        margin-left: var(--spacing-xs);
    }

    .pl-md-md {
        margin-left: var(--spacing-md);
    }

    .pl-md-lg {
        margin-left: var(--spacing-lg);
    }

    .pl-md-xl {
        margin-left: var(--spacing-xl);
    }
}

@media (min-width: 992px) {
    .gap-lg-xxs {
        gap: var(--spacing-xxs) !important;
    }

    .gap-lg-xs {
        gap: var(--spacing-xs) !important;
    }

    .gap-lg-sm {
        gap: var(--spacing-sm) !important;
    }

    .gap-lg-md {
        gap: var(--spacing-md) !important;
    }

    .gap-lg-lg {
        gap: var(--spacing-lg) !important;
    }

    .gap-lg-xl {
        gap: var(--spacing-xl) !important;
    }


    /**
    Margin
    */
    .m-lg-xxs {
        margin: var(--spacing-xxs);
    }

    .m-lg-xs {
        margin: var(--spacing-xs);
    }

    .m-lg-sm {
        margin: var(--spacing-sm);
    }

    .m-lg-md {
        margin: var(--spacing-md);
    }

    .m-lg-lg {
        margin: var(--spacing-lg);
    }

    .m-lg-xl {
        margin: var(--spacing-xl);
    }

    /**
    Margin top
     */
    .mt-lg-xxs {
        margin-top: var(--spacing-xxs);
    }

    .mt-lg-xs {
        margin-top: var(--spacing-xs);
    }

    .mt-lg-sm {
        margin-top: var(--spacing-sm);
    }

    .mt-lg-md {
        margin-top: var(--spacing-md);
    }

    .mt-lg-lg {
        margin-top: var(--spacing-lg);
    }

    .mt-lg-xl {
        margin-top: var(--spacing-xl);
    }

    /**
    Margin bottom
     */
    .mb-lg-xxs {
        margin-bottom: var(--spacing-xxs);
    }

    .mb-lg-xs {
        margin-bottom: var(--spacing-xs);
    }

    .mb-lg-sm {
        margin-bottom: var(--spacing-sm);
    }

    .mb-lg-md {
        margin-bottom: var(--spacing-md);
    }

    .mb-lg-lg {
        margin-bottom: var(--spacing-lg);
    }

    .mb-lg-xl {
        margin-bottom: var(--spacing-xl);
    }

    /**
    Margin right
    */
    .mr-lg-xxs {
        margin-right: var(--spacing-xxs);
    }

    .mr-lg-xs {
        margin-right: var(--spacing-xs);
    }

    .mr-lg-sm {
        margin-right: var(--spacing-sm);
    }

    .mr-lg-md {
        margin-right: var(--spacing-md);
    }

    .mr-lg-lg {
        margin-right: var(--spacing-lg);
    }

    .mr-lg-xl {
        margin-right: var(--spacing-xl);
    }

    /**
    Margin left
    */
    .ml-lg-xxs {
        margin-left: var(--spacing-xxs);
    }

    .ml-lg-xs {
        margin-left: var(--spacing-xs);
    }

    .ml-lg-sm {
        margin-left: var(--spacing-sm);
    }

    .ml-lg-md {
        margin-left: var(--spacing-md);
    }

    .ml-lg-lg {
        margin-left: var(--spacing-lg);
    }

    .ml-lg-xl {
        margin-left: var(--spacing-xl);
    }


    /**
    Padding
    */
    .p-lg-xxs {
        margin: var(--spacing-xxs);
    }

    .p-lg-xs {
        margin: var(--spacing-xs);
    }

    .p-lg-sm {
        margin: var(--spacing-sm);
    }

    .p-lg-md {
        margin: var(--spacing-md);
    }

    .p-lg-lg {
        margin: var(--spacing-lg);
    }

    .p-lg-xl {
        margin: var(--spacing-xl);
    }

    /**
    Padding top
     */
    .pt-lg-xxs {
        margin-top: var(--spacing-xxs);
    }

    .pt-lg-xs {
        margin-top: var(--spacing-xs);
    }

    .pt-lg-sm {
        margin-top: var(--spacing-sm);
    }

    .pt-lg-md {
        margin-top: var(--spacing-md);
    }

    .pt-lg-lg {
        margin-top: var(--spacing-lg);
    }

    .pt-lg-xl {
        margin-top: var(--spacing-xl);
    }

    /**
    Padding bottom
     */
    .pb-lg-xxs {
        margin-bottom: var(--spacing-xxs);
    }

    .pb-lg-xs {
        margin-bottom: var(--spacing-xs);
    }

    .pb-lg-sm {
        margin-bottom: var(--spacing-sm);
    }

    .pb-lg-md {
        margin-bottom: var(--spacing-md);
    }

    .pb-lg-lg {
        margin-bottom: var(--spacing-lg);
    }

    .pb-lg-xl {
        margin-bottom: var(--spacing-xl);
    }

    /**
    Padding right
    */
    .pr-lg-xxs {
        margin-right: var(--spacing-xxs);
    }

    .pr-lg-xs {
        margin-right: var(--spacing-xs);
    }

    .pr-lg-md {
        margin-right: var(--spacing-md);
    }

    .pr-lg-lg {
        margin-right: var(--spacing-lg);
    }

    .pr-lg-xl {
        margin-right: var(--spacing-xl);
    }

    /**
    Padding left
    */
    .pl-lg-xxs {
        margin-left: var(--spacing-xxs);
    }

    .pl-lg-xs {
        margin-left: var(--spacing-xs);
    }

    .pl-lg-md {
        margin-left: var(--spacing-md);
    }

    .pl-lg-lg {
        margin-left: var(--spacing-lg);
    }

    .pl-lg-xl {
        margin-left: var(--spacing-xl);
    }
}


@media (min-width: 1200px) {
    .gap-xl-xxs {
        gap: var(--spacing-xxs) !important;
    }

    .gap-xl-xs {
        gap: var(--spacing-xs) !important;
    }

    .gap-xl-sm {
        gap: var(--spacing-sm) !important;
    }

    .gap-xl-md {
        gap: var(--spacing-md) !important;
    }

    .gap-xl-lg {
        gap: var(--spacing-lg) !important;
    }

    .gap-xl-xl {
        gap: var(--spacing-xl) !important;
    }


    /**
    Margin
    */
    .m-xl-xxs {
        margin: var(--spacing-xxs);
    }

    .m-xl-xs {
        margin: var(--spacing-xs);
    }

    .m-xl-sm {
        margin: var(--spacing-sm);
    }

    .m-xl-md {
        margin: var(--spacing-md);
    }

    .m-xl-lg {
        margin: var(--spacing-lg);
    }

    .m-xl-xl {
        margin: var(--spacing-xl);
    }

    /**
    Margin top
     */
    .mt-xl-xxs {
        margin-top: var(--spacing-xxs);
    }

    .mt-xl-xs {
        margin-top: var(--spacing-xs);
    }

    .mt-xl-sm {
        margin-top: var(--spacing-sm);
    }

    .mt-xl-md {
        margin-top: var(--spacing-md);
    }

    .mt-xl-lg {
        margin-top: var(--spacing-lg);
    }

    .mt-xl-xl {
        margin-top: var(--spacing-xl);
    }

    /**
    Margin bottom
     */
    .mb-xl-xxs {
        margin-bottom: var(--spacing-xxs);
    }

    .mb-xl-xs {
        margin-bottom: var(--spacing-xs);
    }

    .mb-xl-sm {
        margin-bottom: var(--spacing-sm);
    }

    .mb-xl-md {
        margin-bottom: var(--spacing-md);
    }

    .mb-xl-lg {
        margin-bottom: var(--spacing-lg);
    }

    .mb-xl-xl {
        margin-bottom: var(--spacing-xl);
    }

    /**
    Margin right
    */
    .mr-xl-xxs {
        margin-right: var(--spacing-xxs);
    }

    .mr-xl-xs {
        margin-right: var(--spacing-xs);
    }

    .mr-xl-sm {
        margin-right: var(--spacing-sm);
    }

    .mr-xl-md {
        margin-right: var(--spacing-md);
    }

    .mr-xl-lg {
        margin-right: var(--spacing-lg);
    }

    .mr-xl-xl {
        margin-right: var(--spacing-xl);
    }

    /**
    Margin left
    */
    .ml-xl-xxs {
        margin-left: var(--spacing-xxs);
    }

    .ml-xl-xs {
        margin-left: var(--spacing-xs);
    }

    .ml-xl-sm {
        margin-left: var(--spacing-sm);
    }

    .ml-xl-md {
        margin-left: var(--spacing-md);
    }

    .ml-xl-lg {
        margin-left: var(--spacing-lg);
    }

    .ml-xl-xl {
        margin-left: var(--spacing-xl);
    }


    /**
    Padding
    */
    .p-xl-xxs {
        margin: var(--spacing-xxs);
    }

    .p-xl-xs {
        margin: var(--spacing-xs);
    }

    .p-xl-sm {
        margin: var(--spacing-sm);
    }

    .p-xl-md {
        margin: var(--spacing-md);
    }

    .p-xl-lg {
        margin: var(--spacing-lg);
    }

    .p-xl-xl {
        margin: var(--spacing-xl);
    }

    /**
    Padding top
     */
    .pt-xl-xxs {
        margin-top: var(--spacing-xxs);
    }

    .pt-xl-xs {
        margin-top: var(--spacing-xs);
    }

    .pt-xl-sm {
        margin-top: var(--spacing-sm);
    }

    .pt-xl-md {
        margin-top: var(--spacing-md);
    }

    .pt-xl-lg {
        margin-top: var(--spacing-lg);
    }

    .pt-xl-xl {
        margin-top: var(--spacing-xl);
    }

    /**
    Padding bottom
     */
    .pb-xl-xxs {
        margin-bottom: var(--spacing-xxs);
    }

    .pb-xl-xs {
        margin-bottom: var(--spacing-xs);
    }

    .pb-xl-sm {
        margin-bottom: var(--spacing-sm);
    }

    .pb-xl-md {
        margin-bottom: var(--spacing-md);
    }

    .pb-xl-lg {
        margin-bottom: var(--spacing-lg);
    }

    .pb-xl-xl {
        margin-bottom: var(--spacing-xl);
    }

    /**
    Padding right
    */
    .pr-xl-xxs {
        margin-right: var(--spacing-xxs);
    }

    .pr-xl-xs {
        margin-right: var(--spacing-xs);
    }

    .pr-xl-md {
        margin-right: var(--spacing-md);
    }

    .pr-xl-lg {
        margin-right: var(--spacing-lg);
    }

    .pr-xl-xl {
        margin-right: var(--spacing-xl);
    }

    /**
    Padding left
    */
    .pl-xl-xxs {
        margin-left: var(--spacing-xxs);
    }

    .pl-xl-xs {
        margin-left: var(--spacing-xs);
    }

    .pl-xl-md {
        margin-left: var(--spacing-md);
    }

    .pl-xl-lg {
        margin-left: var(--spacing-lg);
    }

    .pl-xl-xl {
        margin-left: var(--spacing-xl);
    }
}

@media (min-width: 1400px) {
    .gap-xxl-xxs {
        gap: var(--spacing-xxs) !important;
    }

    .gap-xxl-xs {
        gap: var(--spacing-xs) !important;
    }

    .gap-xxl-sm {
        gap: var(--spacing-sm) !important;
    }

    .gap-xxl-md {
        gap: var(--spacing-md) !important;
    }

    .gap-xxl-lg {
        gap: var(--spacing-lg) !important;
    }

    .gap-xxl-xl {
        gap: var(--spacing-xl) !important;
    }


    /**
    Margin
    */
    .m-xxl-xxs {
        margin: var(--spacing-xxs);
    }

    .m-xxl-xs {
        margin: var(--spacing-xs);
    }

    .m-xxl-sm {
        margin: var(--spacing-sm);
    }

    .m-xxl-md {
        margin: var(--spacing-md);
    }

    .m-xxl-lg {
        margin: var(--spacing-lg);
    }

    .m-xxl-xl {
        margin: var(--spacing-xl);
    }

    /**
    Margin top
     */
    .mt-xxl-xxs {
        margin-top: var(--spacing-xxs);
    }

    .mt-xxl-xs {
        margin-top: var(--spacing-xs);
    }

    .mt-xxl-sm {
        margin-top: var(--spacing-sm);
    }

    .mt-xxl-md {
        margin-top: var(--spacing-md);
    }

    .mt-xxl-lg {
        margin-top: var(--spacing-lg);
    }

    .mt-xxl-xl {
        margin-top: var(--spacing-xl);
    }

    /**
    Margin bottom
     */
    .mb-xxl-xxs {
        margin-bottom: var(--spacing-xxs);
    }

    .mb-xxl-xs {
        margin-bottom: var(--spacing-xs);
    }

    .mb-xxl-sm {
        margin-bottom: var(--spacing-sm);
    }

    .mb-xxl-md {
        margin-bottom: var(--spacing-md);
    }

    .mb-xxl-lg {
        margin-bottom: var(--spacing-lg);
    }

    .mb-xxl-xl {
        margin-bottom: var(--spacing-xl);
    }

    /**
    Margin right
    */
    .mr-xxl-xxs {
        margin-right: var(--spacing-xxs);
    }

    .mr-xxl-xs {
        margin-right: var(--spacing-xs);
    }

    .mr-xxl-sm {
        margin-right: var(--spacing-sm);
    }

    .mr-xxl-md {
        margin-right: var(--spacing-md);
    }

    .mr-xxl-lg {
        margin-right: var(--spacing-lg);
    }

    .mr-xxl-xl {
        margin-right: var(--spacing-xl);
    }

    /**
    Margin left
    */
    .ml-xxl-xxs {
        margin-left: var(--spacing-xxs);
    }

    .ml-xxl-xs {
        margin-left: var(--spacing-xs);
    }

    .ml-xxl-sm {
        margin-left: var(--spacing-sm);
    }

    .ml-xxl-md {
        margin-left: var(--spacing-md);
    }

    .ml-xxl-lg {
        margin-left: var(--spacing-lg);
    }

    .ml-xxl-xl {
        margin-left: var(--spacing-xl);
    }


    /**
    Padding
    */
    .p-xxl-xxs {
        margin: var(--spacing-xxs);
    }

    .p-xxl-xs {
        margin: var(--spacing-xs);
    }

    .p-xxl-sm {
        margin: var(--spacing-sm);
    }

    .p-xxl-md {
        margin: var(--spacing-md);
    }

    .p-xxl-lg {
        margin: var(--spacing-lg);
    }

    .p-xxl-xl {
        margin: var(--spacing-xl);
    }

    /**
    Padding top
     */
    .pt-xxl-xxs {
        margin-top: var(--spacing-xxs);
    }

    .pt-xxl-xs {
        margin-top: var(--spacing-xs);
    }

    .pt-xxl-sm {
        margin-top: var(--spacing-sm);
    }

    .pt-xxl-md {
        margin-top: var(--spacing-md);
    }

    .pt-xxl-lg {
        margin-top: var(--spacing-lg);
    }

    .pt-xxl-xl {
        margin-top: var(--spacing-xl);
    }

    /**
    Padding bottom
     */
    .pb-xxl-xxs {
        margin-bottom: var(--spacing-xxs);
    }

    .pb-xxl-xs {
        margin-bottom: var(--spacing-xs);
    }

    .pb-xxl-sm {
        margin-bottom: var(--spacing-sm);
    }

    .pb-xxl-md {
        margin-bottom: var(--spacing-md);
    }

    .pb-xxl-lg {
        margin-bottom: var(--spacing-lg);
    }

    .pb-xxl-xl {
        margin-bottom: var(--spacing-xl);
    }

    /**
    Padding right
    */
    .pr-xxl-xxs {
        margin-right: var(--spacing-xxs);
    }

    .pr-xxl-xs {
        margin-right: var(--spacing-xs);
    }

    .pr-xxl-md {
        margin-right: var(--spacing-md);
    }

    .pr-xxl-lg {
        margin-right: var(--spacing-lg);
    }

    .pr-xxl-xl {
        margin-right: var(--spacing-xl);
    }

    /**
    Padding left
    */
    .pl-xxl-xxs {
        margin-left: var(--spacing-xxs);
    }

    .pl-xxl-xs {
        margin-left: var(--spacing-xs);
    }

    .pl-xxl-md {
        margin-left: var(--spacing-md);
    }

    .pl-xxl-lg {
        margin-left: var(--spacing-lg);
    }

    .pl-xxl-xl {
        margin-left: var(--spacing-xl);
    }
}
