@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import '../external/styles/style.scss';

@import 'vue-toast-notification/dist/theme-sugar.css';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color-50: #ecfdf5;
  --primary-color-100: #d1fae5;
  --primary-color-200: #a7f3d0;
  --primary-color-300: #6ee7b7;
  --primary-color-400: #34d399;
  --primary-color-500: #10b981;
  --primary-color-600: #059669;
  --primary-color-700: #047857;
  --primary-color-800: #065f46;
  --primary-color-900: #064e3b;

  --primary-color-principal: var(--primary-color-700);
}
